@model Tms.Models.UserTestModel.UserTestModel

@{
    ViewBag.Title = " Create UserTest";
    Layout = null;
}

<div class="page-content-inner popup">
    @using (Html.BeginForm("Create", "UserTest", FormMethod.Post, new { id = "frmCreate", @class = "form-horizontal" }))
    {
		@Html.AntiForgeryToken()
        <div class="breadcrumb-line">
            <div class="form-actions action-breadcrumb">

            </div>
        </div>

        @Html.Partial("Partial/_FormInput", Model)

        <div class="form-actions text-right mr-10 margin-bottom-10">
            <button type="button" class="btn-xs btn btn-primary" onclick="location.href=''">
                <i class="icon-exit3"></i> Hủy
            </button>
            <button type="submit" class="btn btn-xs btn-danger">
                <i class="icon-plus-circle"></i> Lưu
            </button>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            userTestModule.init();
        });
    </script>
}