<div class="row col-md-12">
    <div class="col-md-6">
        <div id="columnchart_material" class="main-content-chart"></div>
    </div>
    <div class="col-md-6">
        <div id="piechart" class="main-content-chart"></div>
    </div>
</div>