@model Tms.Models.User.ForgotPassworsModel
@using Tms.Models.User
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .label-content {
        display: block;
    }
</style>
<section class="full-width login">
    <main>
        <div class="container-fluid login-form-wrapper">
            <div class="container">
                <nav>
                    <div class="form-wrap pt-5 pb-5">
                        @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mx-auto p-3 form-login", @id = "form-signin" , @style ="width: 550px" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="m-4">
                                <h1 class="text-center" style="font-size:2rem;">Quên mật khẩu</h1>
                            </div>
                            <div class="m-4">
                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <div class="form-placeholder">
                                    <img src="~/Assets/images/ic_email.png" class="icon-placeholder">
                                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "new-input form-control" })
                                    @*<i class="icon-users form-control-feedback"></i>*@
                                </div>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "label-content" })
                            </div>
                            <div class="m-4 pb-3 flex-r">
                                <button class="btn btn-primary">Gửi</button>
                            </div>
                        }
                    </div>
                </nav>

            </div>
        </div>
    </main>
</section>

<!-- Login wrapper -->

@Scripts.Render("~/bundles/jquery")
<script src="~/Assets/js/main.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //if ($('.alert-warning') != null && $('.alert-warning').text() != "") {
        //    $('.login-button').trigger("click");
        //}

    });
</script>