<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="QuizSystemEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TE7Q6JU;initial catalog=QuizSystem;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

<!--<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
Data Source=DESKTOP-TE7Q6JU;Initial Catalog=QuizSystem;Integrated Security=True;Trust Server Certificate=True
  <add name="QuizSystemEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rush-rds.maychudns.net,1442;initial catalog=thihsk_qtedu_vn_quizsystem;user id=thihsk_qtedu_vn_sa;password=Abc1@3456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>-->