<div id="layout_modal_delete_audio" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm" style=" max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-clipboard-list"></i><span class="modal-content-title"> Thông báo</span></h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info" style="padding: 2rem;">
                    Bạn có muốn xóa bản ghi âm?
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn_unconfirm_delete_audio" class="btn btn-default confirm-yes rules-unconfirm" data-dismiss="modal" onclick="">Không</button>
                <button id="btn_confirm_delete_audio" class="btn btn-default confirm-yes rules-confirm " data-dismiss="modal" onclick="">Có</button>
            </div>
        </div>
    </div>
</div>

