<div id="layout_modal_rule_start" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-clipboard-list"></i><span class="modal-content-title"> Thông báo</span></h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info" style="padding:2rem">
                    Sau đây sẽ bắt đầu làm bài thi, <br />
                    Ấn bắt đầu làm bài để thi
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn_confirm_start" class="btn btn-default confirm-yes rules-confirm" data-dismiss="modal" data-section-index="1" data-section-next="1" data-section-id="1" onclick="">Bắt đầu làm bài</button>
            </div>
        </div>
    </div>
</div>

