<!-- modal rules -->
<div id="layout_modal_listing" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-clipboard-list"></i><span class="modal-content-title"> Thông báo</span></h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info" style="padding:2rem">
                    Bạn có muốn nộp bài? <br />
                </p>
            </div>

            <div class="modal-footer">
                <button id="btn_un_change" class="btn btn-default confirm-yes rules-unconfirm" data-dismiss="modal" onclick="">Không</button>
                <button id="btn_confirm_change" class="btn btn-default confirm-yes rules-confirm" data-dismiss="modal" data-section-index="1" data-section-next="1" data-section-id="1" data-status="true" data-length="0" data-question="0" data-count="0" onclick="">Có</button>
            </div>
        </div>
    </div>
</div>

