@model Tms.Models.ConfirmModel
@{
    var dataId = Model.Id;
    var level = Model.Level;
}
<!-- modal rules -->
<div id="layout_modal_limit" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm" style=" max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-clipboard-list"></i><span class="modal-content-title"> Thông báo</span></h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info" style="padding: 2rem;">
                    Đã hết giờ thi, bài làm của bạn đã được lưu lại và nộp lên hệ thống. <br />
                    Xin cảm ơn!
                </p>
            </div>
            <div class="modal-footer">
                @if (level != "9" && level != "10" && level != "11")
                {
                    <button id="btn_confirm_limit" class="btn btn-default confirm-yes rules-confirm " data-dismiss="modal" data="@dataId" onclick="">Đã hiểu</button>
                }
                else
                {
                    <button id="btn_confirm_limit_hight_exam" class="btn btn-default confirm-yes rules-confirm " data-dismiss="modal" data="@dataId" onclick="">Đã hiểu</button>
                }
            </div>
        </div>
    </div>
</div>
