<footer id="footer" class="footer-wrapper">
    <div id="gap-831747663" class="gap-element clearfix" style="display:block; height:auto;">

    </div>

    <section class="section pb-0" id="section_91644757">
        <div class="bg section-bg fill bg-fill  bg-loaded">
            <div class="is-border" style="border-color:rgba(135, 40, 49, 0.89);border-width:2px 0px 0px 0px;">
            </div>
        </div>

        <div class="section-content relative">
            <div class="row align-center" id="row-949413445">
                <div id="col-476763025" class="col pb-0 medium-10 small-12 large-10">
                    <div class="col-inner text-left">
                        <div class="row row-collapse align-middle" id="row-1988169388" >
                            <div id="col-1393019632" class="col medium-8 small-12 large-8">
                                <div class="col-inner">
                                    <div id="text-371911526" class="text">
                                        <h3>
                                            <span style="font-size: 100%;">
                                                CÔNG TY CỔ PHẦN GIÁO DỤC HOA NGỮ QUỐC TẾ
                                            </span>
                                        </h3>
                                        <p>Chi bằng học / Learning is Earning / 何如学习之</p>
                                    </div>
                                </div>
                            </div>

                            <div id="col-1754040328" class="col medium-4 small-12 large-4">
                                <div class="col-inner text-right">
                                    <a href="/Account/Register" target="_self" class="button white" style="border-radius:8px;padding:5px 50px 5px 50px;">
                                        <span>Đăng ký</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gap-1310995255" class="gap-element clearfix" style="display:block; height:auto;">
            </div>

            <div class="row row-large" id="row-694117070">
                <div id="col-1777163893" class="col pb-0 medium-12 small-12 large-5">
                    <div class="col-inner dark">
                        <div class="row" id="row-1770631481">
                            <div id="col-1323624265" class="col pb-0 medium-11 small-12 large-11">
                                <div class="col-inner">
                                    <div id="text-1202620575" class="text">
                                        <h1><strong>Về chúng tôi</strong></h1>
                                        <p><strong>CÔNG TY CỔ PHẦN GIÁO DỤC HOA NGỮ QUỐC TẾ<br></strong></p>
                                        <p class="p1" style="text-align: justify; line-height:2.5rem;">
                                            <strong>
                                                MST:
                                                0109572372
                                            </strong> do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp lần đầu ngày 29/03/2021
                                        </p>
                                        <p class="p1" style="text-align: justify; line-height: 2.5rem;">
                                            <strong>
                                                Tên viết
                                                tắt:
                                            </strong> QTEDU.,JSC<br><strong>Điện thoại:</strong> 0984908889 / 0961520521
                                        </p>
                                        <p class="p1" style="text-align: justify; line-height: 2.5rem;">
                                            <strong>
                                                Trụ sở Hà
                                                Nội:&nbsp;
                                            </strong>Tầng 12, Toà nhà Diamond Flower, Số 48 Lê Văn Lương, Phường Nhân Chính, Thanh Xuân, Hà Nội, Việt Nam
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="col-1259379178" class="col pb-0 medium-3 small-12 large-3">
                    <div class="col-inner">
                        <div id="text-2488460472" class="text">
                            <h1><strong>Thông tin</strong></h1>
                            <div class="tt2" style="line-height: 8px;">
                                <p><a href="https://qtedu.vn/du-hoc">Thông tin du học</a></p>
                                <p><a href="https://qtedu.vn/khoa-hoc">Các khóa học</a></p>
                                <p><a href="https://qtedu.vn/chuyen-muc/tuyen-dung">Tuyển dụng</a></p>
                                <p><a href="https://qtedu.vn/gioi-thieu">Giới thiệu</a></p>
                                <p><a href="https://qtedu.vn/lien-he">Liên hệ</a></p>
                            </div>
                        </div>

                        <div id="text-3430366276" class="text">
                            <h3>Theo dõi chúng tôi</h3>
                        </div>

                        <div class="social-icons follow-icons">
                            <a href="https://www.facebook.com/qtedu" target="_blank" data-label="Facebook" rel="noopener noreferrer nofollow" class="icon primary button circle facebook tooltip tooltipstered">
                                <i class="fab fa-facebook-f mb-1"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UC8W1JJZIZB6teq1t7w72DKg" target="_blank" rel="noopener noreferrer nofollow" data-label="YouTube" class="icon primary button circle  youtube tooltip tooltipstered">
                                <i class="fab fa-youtube mb-1"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="col-2041648319" class="col pb-0 medium-12 small-12 large-4">
                    <div class="col-inner">
                        <p>
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fqtedu%2F&amp;tabs=timeline&amp;width=350&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=4260842357290550"
                                    height="300" style="border:none;overflow:hidden;width:100%;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="absolute-footer dark medium-text-center text-center">
        <div class="container clearfix">
            <div class="footer-primary pull-left">
                <div class="copyright-footer">
                    <div style="color:#fff">Copyright @DateTime.Now.Year © <a href="https://hvcg.vn/vi/">Thiết kế bởi HVCG Software</a></div>
                </div>
            </div>
        </div>
    </div>
    <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline left hide-for-medium circle" id="top-link"><i class="icon-angle-up"></i></a>
</footer>