<div id="layout_loading_exam" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body with-padding" style="border:none">
                <p class="modal-content-info content-loading" style="padding:2rem">
                    <img src="\Assets\images\loaders\loader8.gif" alt="Alternate Text" />
                </p>
            </div>

        </div>
    </div>
</div>
