<!-- modal rules -->
<div id="layout_modal_degree" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm" style=" max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-clipboard-list"></i><span class="modal-content-title"> Thông báo</span></h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info" style="padding: 2rem;">
                    Bài thi đang được xét duyệt <br />
                    Bạn chưa thể in được bằng!
                </p>
            </div>

            <div class="modal-footer">
                <button id="btn_confirm_degree" class="btn btn-default confirm-yes rules-confirm " data-dismiss="modal"  onclick="">Đã hiểu</button>
            </div>
        </div>
    </div>
</div>
