<div id="layout_modal_rule_listing" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-clipboard-list"></i><span class="modal-content-title"> Thông báo</span></h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info" style="padding:2rem">
                    Đây là bài thi nói thuộc phần thi HSKK <br />
                    Hãy nhìn vào phần góc bên phải màn hình để kiểm tra micro đã kết nối hay chưa và bắt đầu làm bài
                </p>
            </div>

            <div class="modal-footer">
                <button id="btn_confirm_listing" class="btn btn-default confirm-yes rules-confirm" data-dismiss="modal" data-section-index="1" data-section-next="1" data-section-id="1" onclick="">Đã hiểu</button>
            </div>
        </div>
    </div>
</div>
