
<!-- modal info -->
<div id="layout_modal_info" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="icon-warning"></i><span class="modal-content-title"> Nội quy</span></h4>
            </div>

            <div class="modal-body with-padding">
                <p class="modal-content-info">Bạn có muốn thực hiện hành động?</p>
            </div>

            <div class="modal-footer">
                <button id="btn_confirm" class="btn btn-default confirm-yes  btn-warning" data-dismiss="modal" onclick="">Đồng ý</button>
                <button class="btn confirm-no" data-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>