
@{
  Layout = null;
  //var settingsTable = Utilies.GetAllSystemSettings();  
}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Extra - 404 Page</title>
    <meta http-equiv="X-UA-Compatible" Content="IE=edge">
    <meta Content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" Content="text/html; charset=utf-8">
    <meta Content="" name="description"/>
    <meta Content="" name="author"/>
    <link href="~/Assets/css/error.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="page-404-3">
    <div class="container error-404">
        <h1>404</h1>
        <h2>Có lỗi phát sinh !</h2>
        <p>
            Trang bạn đang tìm kiếm không tồn tại.
        </p>
        <p>
            <a href="/">Quay về trang chủ </a>
            <br>
        </p>
    </div>
</body>
<!-- END BODY -->
</html>
