@{
    Layout = null;
    //var settingsTable = DES_Elearning.Common.Utilies.GetAllSystemSettings();
}
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Extra - 500 Page</title>
    <meta http-equiv="X-UA-Compatible" Content="IE=edge">
    <meta Content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" Content="text/html; charset=utf-8">
    <meta Content="" name="description" />
    <meta Content="" name="author" />
    <link href="~/Assets/css/error.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-500-full-page">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number">
                500
            </div>
            <div class=" details">
                <h3>Có vấn đề phát sinh khi bạn thực hiện thao tác.</h3>
                <p>
                    Chúng tôi sẽ xử lý vấn đề !<br />
                    Xin vui lòng quay trở lại sau.<br />
                    <br />
                </p>
            </div>
        </div>
    </div>
</body>
<!-- END BODY -->
</html>
