
@{
    Layout = null;
    //var settingsTable = Utilies.GetAllSystemSettings();
}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title> Error</title>
    <meta http-equiv="X-UA-Compatible" Content="IE=edge">
    <meta Content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" Content="text/html; charset=utf-8">
    <meta Content="" name="description"/>
    <meta Content="" name="author"/>
    <link href="~/Content/fonts/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Assets/css/error.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-500-full-page">
    <div class="row">
        <div class="col-md-12 page-500 text-center padding-top-20">
            <div class=" number">

            </div>
            <div class=" details">
                <h3>Bạn không có quyền truy cập trang này!</h3>
                <p>
                    <a href="~/"> Click vào đây để trở về trang chủ!</a><br />

                    <br />
                </p>
            </div>
        </div>
    </div>
</body>

</html>
