<p>Dear anh chị.</p>
<p>Nhơn Hòa đã mua đơn hàng {0}. Anh chị kiểm tra lại đơn hàng những phần đã ghi chú lại (nếu có).</p>
<p>Khi hàng về Việt Nam bộ phận kho sẽ thông báo để anh chị làm thủ tục nhận hàng và chuyển xe đi tỉnh nếu cần.</p>
<p>Sau 7 ngày anh chị có thể gọi điện cho <strong>BP Kho : 04 39956222 </strong> để hỏi về tình trạng hàng hóa.</p>
<p><strong>Xin cảm ơn!</strong></p>

