<div style="font-family: Arial">
    <div style="margin: 0px; padding: 10px; background: #cccccc; font-family: Arial; font-size: 12px">
        <div style="border-radius: 6px; width: 598px; margin: 0px auto; padding: 15px 0px; background: #ffffff; color: #4d4d4d">
            <div style="margin: 5px 10px 15px 10px">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td><a href="https://nhonhoa.vn" title="Nhơn Hòa Logistics" target="_blank" ><img title="Nhơn Hòa Logistics" src="https://nhonhoa.vn/uploads/images/he-thong/logo.png" alt="Nhơn Hòa Logistics" style="width: 120px; margin: 0px 0px 0px 14px" class="CToWUd"></a></td>
                            <td style="padding-top: 8px; color: #0d6db4; font-size: 11px" align="right">
                                <p style="margin: 0px; padding: 0px">
                                    <b>CÔNG TY TNHH THƯƠNG MẠI ĐẦU TƯ VÀ XUẤT NHẬP KHẨU Nhơn Hòa</b>
                                </p>
                                <p style="margin: 0px; padding: 4px 0px; font-family: Arial">Nhanh nhất - Rẻ nhất - Đảm bảo nhất</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="width: 546px; margin: 0px auto; border: 4px solid #007cc2">
                <div style="padding: 10px 20px">
                    <p style="padding: 4px 0px 10px 0px; margin: 0px; font-family: Arial">
                        Kính chào <b>quý khách,</b>
                    </p>
                    <div style="margin-bottom: 0px"></div>
                    <div style="font-weight: bold; margin-bottom: 2px; font-size: 11px">
                        <p style="font-family: Arial">Nhơn Hòa đã mua đơn hàng {0}. Anh chị kiểm tra lại đơn hàng những phần đã ghi chú lại (nếu có)..</p>
                        <p>
                            Khi hàng về <span class="il">Việt</span> <span class="il">Nam</span> bộ phận kho sẽ thông báo để anh chị làm thủ tục nhận hàng và chuyển xe đi tỉnh nếu cần.
                        </p>
                        <p style="font-family: Arial">
                            Sau 7 ngày anh chị có thể gọi điện cho <strong>BP Kho : 04 39956222 </strong> để hỏi về tình trạng hàng hóa.
                        </p>
                        <p>
                            <strong>Xin cảm ơn!</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div style="color: #555555; width: 554px; margin: 5px auto; padding: 5px 0px">
                <div style="padding-top: 15px; font-family: Arial" align="center">
                    <b>Cảm ơn quý khách đã sử dụng dịch vụ của Nhơn Hòa Logistics.</b>
                </div>
            </div>
        </div>
        <div style="color: #555555; padding: 15px 22px; border-radius: 6px; width: 554px; margin: 5px auto; background: #ffffff">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr><td style="padding-bottom: 10px; border-bottom: 1px solid #c1c1c1" width="120px"><img style="vertical-align: text-top" src="https://nhonhoa.vn/templates/frontend/images/email/emt_icon_email_hotline.png" class="CToWUd">
                    <b style="color: #4696d1"> 0969.191.444</b></td><td style="padding-bottom: 10px; border-bottom: 1px solid #c1c1c1">
                    <img style="vertical-align: text-top" src="https://nhonhoa.vn/templates/frontend/images/email/emt_icon_email_headphone.png">
                    <b style="color: #4696d1"><a href="mailto:support@vatgia.com" target="_blank"> dathangtrungquocht@gmail.com</a></b>
                </td><td style="padding-bottom: 10px; border-bottom: 1px solid #c1c1c1" align="right"><a style="text-decoration: none" href="https://www.facebook.com/dathangtrungquoc.com.vn/" target="_blank"><img style="vertical-align: text-top" src="https://nhonhoa.vn/templates/frontend/images/email/fb.png" alt="Facebook"></a><a style="text-decoration: none">
                    <img style="vertical-align: text-top" src="https://nhonhoa.vn/templates/frontend/images/email/tw.png" alt="Twites">
                </a><a style="text-decoration: none" ><img style="vertical-align: text-top" src="https://nhonhoa.vn/templates/frontend/images/email/gl.png" alt="Google"></a></td></tr>
                    <tr>
                        <td colspan="3">
                            <p style="padding: 25px 0px 4px 0px; margin: 0px; font-family: Arial">
                                <b>CÔNG TY TNHH THƯƠNG MẠI ĐẦU TƯ VÀ XUẤT NHẬP KHẨU Nhơn Hòa</b>
                            </p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">Trụ sở chính : Số 41 Ngõ 651 Minh Khai, Hai Bà Trưng, Hà Nội</p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">Văn phòng Cầu Giấy : Số 112 Trung Kính,P201 Tòa Nhà F5,Cầu Giấy</p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">Hotline : 0969 191 444 - 0904 811 664 - 0942 379 333</p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">
                                Website : <a href="http://dathangtrungquoc.com.vn" target="_blank">http://dathangtrungquoc.com.vn</a> - <a href="https://nhonhoa.vn" target="_blank" >https://<span class="il">nhonhoa</span>.vn</a>
                            </p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">
                                Email : <a href="mailto:dathangtrungquocht@gmail.com" target="_blank">dathangtrungquocht@gmail.com</a>
                            </p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">Skype : tinhxnk.hungthinh – QQ: 1599601709</p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">BP.CSKH : 043.9959.666 - Bp.Order: 043.9903.777</p>
                            <p style="font-size: 11px; padding: 2px 0px; margin: 0px; font-family: Arial">Phòng Kế Toán : 043.9970.777 - Bp.Kho: 043.9956.222</p>
                        </td>
                    </tr>
                </tbody>
            </table>      
        </div>
     
    </div>
</div>